<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

	<application>

		<activity
			android:name=".OverlayActivity"
			android:configChanges="uiMode"
			android:exported="true"
			android:launchMode="singleTop"
			android:theme="@null"
			android:noHistory="true">
			<!-- noHistory=true: Activity 를 벗어나면 그대로 종료, 다시 돌아오면 메인 Entry 에 접근하여 새로 앱 실행 -->

			<intent-filter>
				<action android:name="com.yapp.breake.alarm.action.SHOW_BREAK_TIME_OVERLAY" />
				<action android:name="com.yapp.breake.SHOW_OVERLAY" />

				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>

		</activity>

	</application>

</manifest>
