name: Pull Request CI

on:
  pull_request:
    branches: [ "main", "develop" ]
  push:
    branches: [ "main", "develop" ]

jobs:
  build:
    name: Check Code Quality and Build
    runs-on: ubuntu-latest

    steps:
      -   name: Checkout code
          uses: actions/checkout@v4

      -   name: Cache Gradle packages
          uses: actions/cache@v4
          with:
            path: |
              ~/.gradle/caches
              ~/.gradle/wrapper
            key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties', '**/buildSrc/**/*.kt') }}
            restore-keys: |
              ${{ runner.os }}-gradle-

      -   name: set up JDK 17
          uses: actions/setup-java@v4
          with:
            java-version: '17'
            distribution: 'temurin'
            cache: gradle

      -   name: Add Local Properties
          env:
              KAKAO_NATIVE_APP_KEY: ${{ secrets.KAKAO_NATIVE_APP_KEY }}
          run: |
              echo KAKAO_NATIVE_APP_KEY=KAKAO_NATIVE_APP_KEY > ./local.properties

      -   name: Grant execute permission for gradlew
          run: chmod +x gradlew

      -   name: Ktlint Check
          run: ./gradlew ktlintCheck

      -   name: Detekt Check
          run: ./gradlew detekt

      -   name: Build Check
          run: ./gradlew build
